/* Import Font Figtree */
@import url('https://fonts.bunny.net/css?family=figtree:400,600&display=swap');

/* Basic Reset & Setup */
html {
    scroll-behavior: smooth;
    font-family: 'Figtree', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- KOMPONEN KHUSUS --- */

/* 1. Tombol Bahasa (Language Switcher) */
.lang-btn { 
    cursor: pointer; 
    font-weight: 600; 
    transition: color 0.3s; 
}

.lang-btn.active { 
    color: #FACC15; /* Warna Kuning Trihana */
    text-decoration: underline; 
}

/* 2. Testimonial Slider Transition */
.testimonial-slide {
    transition: opacity 0.5s ease-in-out;
}

/* 3. Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #002524;
}

::-webkit-scrollbar-thumb {
    background: #004F4D;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #facc15; /* Warna Kuning Trihana saat di-hover */
}
