/* Import Font Figtree */
@import url('https://fonts.bunny.net/css?family=figtree:400,600&display=swap');

/* Basic Reset & Setup */
html {
    scroll-behavior: smooth;
    font-family: 'Figtree', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Utilities untuk Slider */
.testimonial-slide {
    transition: opacity 0.5s ease-in-out;
}

/* Memastikan scrollbar tidak menutupi desain (Opsional) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #002524;
}

::-webkit-scrollbar-thumb {
    background: #004F4D;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #facc15; /* Warna Kuning Trihana */
}